:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-bg-hdn-btn: hsl(0, 0%, 95%);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    background: var(--Very-light-gray-bg-hdn-btn);
    font-family: 'Lexend Deca', sans-serif; 
}

.design-limits {
    margin: 30% auto;
    width: 23.4375rem;
    height: 93.875rem;    
}

.card-container {
  width: 20.5rem;
  height: 83rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.5rem auto 2.5rem;
}

.card__flex-column {
  width: 100%;
  height: 27.625rem;
  padding: 2.875rem; 
}

.card__flex-column-o {
  background: var(--Bright-orange);
  border-radius: 2.5% 2.5% 0 0;
}
.card__flex-column-dc {
  background: var(--Dark-cyan);
}
.card__flex-column-vdc {
  background: var(--Very-dark-cyan);
  border-radius: 0 0 2.5% 2.5%;
}

.card__flex-column-icon {
  margin-bottom: 2.25rem;
}

.card__flex-column-title {
  color: var(--Very-light-gray-bg-hdn-btn);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.card__flex-column-paragraph {
  line-height: 1.5625rem;
  color: var(--Transparent-white-p);
  margin-bottom: 1.5625rem;
}

.card__flex-column-button {
  width: 9.25rem;
  height: 2.875rem;
  border: none;
  border-radius: 1.5625rem;
  color: var(--Bright-orange);
  font-size: .9375rem;
}

.card__flex-column-button:hover{
  cursor: pointer;
  border: .125rem solid var(--Very-light-gray-bg-hdn-btn)
}

.card__flex-column-button-o {
  color: var(--Bright-orange);
}
.card__flex-column-button-dc {
  color: var(--Dark-cyan);
}
.card__flex-column-button-vdc {
  color: var(--Very-dark-cyan);
}

.card__flex-column-button-o:hover {
  background: var(--Bright-orange);
  color: var(--Very-light-gray-bg-hdn-btn);
}
.card__flex-column-button-dc:hover {
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray-bg-hdn-btn);
}
.card__flex-column-button-vdc:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray-bg-hdn-btn);
}

.attribution {
  font-size: .6875rem; 
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 59rem) {
  .design-limits {
    width: 90rem;
    height: 50rem;
  }

  .card-container {
    width: 57.625rem;
    height: 32.625rem;
    flex-direction: row;
    margin: 9.5% auto 3%;
  }

  .card__flex-column {
    height: 100%;
    padding: 2.875rem 4.125rem 2.875rem 2.875rem;
    letter-spacing: -.0.0313rem;
  }

  .card__flex-column-o {
    border-radius: 2.5% 0 0 2.5%;
  }

  .card__flex-column-vdc {
    border-radius: 0 2.5% 2.5% 0;
  }

  .card__flex-column-paragraph {
    margin-bottom: 5.375rem;
  }
}
